# -*- coding: utf-8 -*-
# $Id$

contest_time = 0
score_system = acm
board_fog_time = 0
board_unfog_time = 0

compile_dir = "../../compile/var/compile"

team_enable_src_view
team_enable_rep_view
team_enable_ce_view
problem_navigation


compile_max_vm_size = 512M
compile_max_file_size = 32M


stand_fancy_style

cr_serialization_key = 22723
show_astr_time
advanced_layout
enable_l10n
team_download_time = 0
cpu_bogomips = 5200

[language]
id = 2
short_name = "gcc"
long_name = "GNU C 7.5.0"
src_sfx = ".c"
compiler_env = "EJUDGE_FLAGS=-std=c99 -Wall"

[problem]
abstract
short_name = "Generic"
use_stdin
use_stdout
xml_file = "statement.xml"
test_sfx = ".dat"
use_corr
corr_dir = "%Ps"
corr_sfx = ".ans"
time_limit = 1
real_time_limit = 5
max_vm_size = 64M
max_stack_size = 64M
max_file_size = 64M
check_cmd = "check"

[problem]
id = 1
super = "Generic"
short_name = "A0"
long_name = "Максимум"
type = "standard"
standard_checker = "cmp_file"

[problem]
id = 3
super = "Generic"
short_name = "A1"
long_name = "Шифр Цезаря"
type = "standard"
standard_checker = "cmp_file_nospace"

[problem]
id = 4
super = "Generic"
short_name = "A2"
long_name = "Циклический сдвиг"
type = "standard"
standard_checker = "cmp_file_nospace"

[problem]
id = 5
super = "Generic"
short_name = "A3"
long_name = "Извлечение бит"
type = "standard"
standard_checker = "cmp_file_nospace"

[problem]
id = 6
super = "Generic"
short_name = "A4"
long_name = "Поиск последовательности бит"
type = "standard"
standard_checker = "cmp_file_nospace"

[problem]
id = 7
super = "Generic"
short_name = "A5"
long_name = "Подсчет битов"
type = "standard"
standard_checker = "cmp_double"
checker_env = "EPS=0.001"

[problem]
id = 8
super = "Generic"
short_name = "A6"
long_name = "Инверсия старших"
type = "standard"
standard_checker = "cmp_int"

[problem]
id = 9
super = "Generic"
short_name = "A7"
long_name = "Не пара"
type = "standard"
standard_checker = "cmp_int_seq"

[problem]
id = 10
super = "Generic"
short_name = "A8"
long_name = "Упаковать массив"
type = "standard"
standard_checker = "cmp_int"

[problem]
id = 11
super = "Generic"
short_name = "A9"
long_name = "Распаковать порядок"
type = "standard"
standard_checker = "cmp_int"

[tester]
name = Generic
arch = ""
abstract
no_core_dump
enable_memory_limit_error
kill_signal = KILL
memory_limit_type = "default"
secure_exec_type = "static"
clear_env

[tester]
any
super = Generic

# audit: created 2022/02/17 10:29:03 1 (ejudge) 162.158.159.105
